USE [MOBILESHOP]
GO
/****** Object:  Table [dbo].[CTGIAMGIA]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGIAMGIA](
	[MADOT] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[PHANTRAM] [int] NULL,
 CONSTRAINT [PK_CTGIAMGIA] PRIMARY KEY CLUSTERED 
(
	[MADOT] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTGIAMGIA]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTGIAMGIA](
	[MADOT] [nchar](10) NOT NULL,
	[NOIDUNG] [nvarchar](100) NOT NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[MANV] [nchar](10) NULL,
 CONSTRAINT [PK_DOTGIAMGIA] PRIMARY KEY CLUSTERED 
(
	[MADOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
	[ANH] [nvarchar](200) NULL,
	[MOTA] [nvarchar](200) NULL,
	[CHIP] [nvarchar](50) NULL,
	[RAM] [int] NULL,
	[ROM] [int] NULL,
	[MAHDH] [nvarchar](50) NULL,
	[PIN] [int] NULL,
	[MANHINH] [nvarchar](50) NULL,
	[MAHANG] [nchar](10) NOT NULL,
	[SOLUONGTON] [int] NULL,
	[THOIGIANBH] [int] NULL,
	[GIA] [float] NULL,
	[RAMAT] [date] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DS_KHUYEMMAI]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DS_KHUYEMMAI]
AS
SELECT GG.NOIDUNG, GG.NGAYBD, GG.NGAYKT, CTGG.MALOAI, CTGG.PHANTRAM, LSP.TENLOAI, LSP.ANH
FROM DOTGIAMGIA AS GG, CTGIAMGIA AS CTGG, LOAISANPHAM AS LSP
WHERE GG.MADOT = CTGG.MADOT AND CTGG.MALOAI = LSP.MALOAI AND CTGG.PHANTRAM >= 30
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MADDH] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDH]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDH](
	[MADH] [int] NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[TONGGIA] [float] NULL,
 CONSTRAINT [PK_CTDH] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTGIOHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGIOHANG](
	[IDGIOHANG] [int] NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[TONG] [float] NULL,
 CONSTRAINT [PK_CTGIOHANG] PRIMARY KEY CLUSTERED 
(
	[IDGIOHANG] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTNHANBH]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNHANBH](
	[MASOBH] [nchar](10) NOT NULL,
	[MANVNHAN] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[TRANGTHAITRUOCBH] [nvarchar](200) NULL,
	[NGAYTRA] [date] NULL,
	[TRANGTHAISAUBH] [nvarchar](200) NULL,
	[MANVTRA] [nchar](10) NULL,
 CONSTRAINT [PK_CTNHANBH] PRIMARY KEY CLUSTERED 
(
	[MASOBH] ASC,
	[MANVNHAN] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUNGCAP]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUNGCAP](
	[MANHACC] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MALOAI] [nchar](10) NOT NULL,
	[CMND] [nchar](12) NOT NULL,
	[DIEM] [int] NULL,
	[MOTA] [nvarchar](200) NULL,
	[NGAYBINHLUAN] [date] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC,
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MADDH] [nchar](10) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[TONGTIEN] [float] NULL,
	[MANHACC] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
 CONSTRAINT [PK_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [nchar](12) NOT NULL,
	[NGAYLAP] [date] NULL,
	[TENNGUOINHAN] [nvarchar](50) NULL,
	[DIACHINHAN] [nvarchar](200) NULL,
	[SDTNGUOINHAN] [nchar](10) NULL,
	[EMAILNGUOINHAN] [nvarchar](50) NULL,
	[TONGTIEN] [float] NULL,
	[MATRANGTHAI] [int] NULL,
	[MANVDUYET] [nchar](10) NULL,
	[MANVGIAO] [nchar](10) NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[IDGIOHANG] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [nchar](12) NOT NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[IDGIOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [nchar](10) NOT NULL,
	[TENHANG] [nvarchar](100) NULL,
	[ANH] [nvarchar](200) NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](10) NOT NULL,
	[MASOTHUE] [nchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[MADH] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[CMND] [nchar](12) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATK] [nchar](20) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANHACC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[WEBSITE] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nchar](10) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MATK] [nchar](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAOHANH](
	[MASOBH] [nchar](10) NOT NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[MAHD] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUBAOHANH] PRIMARY KEY CLUSTERED 
(
	[MASOBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[MADDH] [nchar](10) NULL,
	[TONGTIEN] [float] NULL,
	[MANV] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPHIEUTRA] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NULL,
	[NGAYTRA] [date] NULL,
	[MAHD] [nchar](10) NULL,
	[MANV] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [nchar](10) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[MANV] [nchar](10) NULL,
	[MAHD] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [nchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAM]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAM](
	[MARAM] [int] NOT NULL,
	[DUNGLUONG] [nchar](10) NULL,
 CONSTRAINT [PK_RAM] PRIMARY KEY CLUSTERED 
(
	[MARAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROM]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROM](
	[MAROM] [int] NOT NULL,
	[DUNGLUONG] [nchar](10) NULL,
 CONSTRAINT [PK_ROM] PRIMARY KEY CLUSTERED 
(
	[MAROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[SOSERI] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NULL,
	[MAPN] [nchar](10) NULL,
	[MAPX] [nchar](10) NULL,
	[PHIEUTRA] [nchar](10) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[SOSERI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [nchar](20) NOT NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[MAQUYEN] [nchar](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAYDOIGIA]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAYDOIGIA](
	[MANV] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[NGAYAPDUNG] [date] NOT NULL,
	[GIAMOI] [float] NULL,
 CONSTRAINT [PK_THAYDOIGIA] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MALOAI] ASC,
	[NGAYAPDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MATRANGTHAI] [int] NOT NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY CLUSTERED 
(
	[MATRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTDH] ([MADH], [MALOAI], [SOLUONG], [TONGGIA]) VALUES (27, N'IP11VN128 ', 1, 8495000)
INSERT [dbo].[CTDH] ([MADH], [MALOAI], [SOLUONG], [TONGGIA]) VALUES (27, N'SSGA735G  ', 1, 6594000)
INSERT [dbo].[CTDH] ([MADH], [MALOAI], [SOLUONG], [TONGGIA]) VALUES (28, N'IP12VN128 ', 1, 17990000)
GO
INSERT [dbo].[CTGIAMGIA] ([MADOT], [MALOAI], [PHANTRAM]) VALUES (N'GG01      ', N'IP11VN128 ', 50)
INSERT [dbo].[CTGIAMGIA] ([MADOT], [MALOAI], [PHANTRAM]) VALUES (N'GG01      ', N'XIRN10P   ', 40)
INSERT [dbo].[CTGIAMGIA] ([MADOT], [MALOAI], [PHANTRAM]) VALUES (N'GG02      ', N'XI11TP5G  ', 35)
GO
INSERT [dbo].[CTGIOHANG] ([IDGIOHANG], [MALOAI], [SOLUONG], [TONG]) VALUES (1023, N'NOKIAG22  ', 1, 3990000)
GO
INSERT [dbo].[DANHGIA] ([MALOAI], [CMND], [DIEM], [MOTA], [NGAYBINHLUAN]) VALUES (N'IP11VN128 ', N'1212121212  ', 5, N'Sản phẩm tuyệt vời...', CAST(N'2023-04-08' AS Date))
INSERT [dbo].[DANHGIA] ([MALOAI], [CMND], [DIEM], [MOTA], [NGAYBINHLUAN]) VALUES (N'IP11VN128 ', N'1717171717  ', 4, N'Sản phẩm tốt trong tầm giá', CAST(N'2023-06-04' AS Date))
INSERT [dbo].[DANHGIA] ([MALOAI], [CMND], [DIEM], [MOTA], [NGAYBINHLUAN]) VALUES (N'IP14PRO256', N'1717171717  ', 5, N'Sản phẩm tuyệt vời...', CAST(N'2023-04-08' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADH], [CMND], [NGAYLAP], [TENNGUOINHAN], [DIACHINHAN], [SDTNGUOINHAN], [EMAILNGUOINHAN], [TONGTIEN], [MATRANGTHAI], [MANVDUYET], [MANVGIAO]) VALUES (27, N'1212121212  ', CAST(N'2023-03-10' AS Date), N'Lê Phước Anh Đạt', N'97 Man Thiện Hiệp Phú, Thành Phố Thủ Đức', N'0123456789', N'anhdat@gmail.com', 15089000, 3, N'NV01      ', N'NV02      ')
INSERT [dbo].[DONHANG] ([MADH], [CMND], [NGAYLAP], [TENNGUOINHAN], [DIACHINHAN], [SDTNGUOINHAN], [EMAILNGUOINHAN], [TONGTIEN], [MATRANGTHAI], [MANVDUYET], [MANVGIAO]) VALUES (28, N'1313131313  ', CAST(N'2023-03-12' AS Date), N'Trần Văn Cường', N'Đà Nẵng', N'1234567890', N'vancuong@gmail.com', 17990000, 5, N'NV01      ', N'NV03      ')
INSERT [dbo].[DONHANG] ([MADH], [CMND], [NGAYLAP], [TENNGUOINHAN], [DIACHINHAN], [SDTNGUOINHAN], [EMAILNGUOINHAN], [TONGTIEN], [MATRANGTHAI], [MANVDUYET], [MANVGIAO]) VALUES (29, N'1313131313  ', CAST(N'2023-02-13' AS Date), N'Trần Văn Cường', N'Hồ Chí Minh', N'1234567890', N'vancuong@gmail.com', 30990000, 3, N'NV01      ', N'NV02      ')
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
GO
INSERT [dbo].[DOTGIAMGIA] ([MADOT], [NOIDUNG], [NGAYBD], [NGAYKT], [MANV]) VALUES (N'GG01      ', N'Mừng khai trương', CAST(N'2022-07-12' AS Date), CAST(N'2022-09-12' AS Date), N'NV01      ')
INSERT [dbo].[DOTGIAMGIA] ([MADOT], [NOIDUNG], [NGAYBD], [NGAYKT], [MANV]) VALUES (N'GG02      ', N'Mừng khai giảng', CAST(N'2022-02-12' AS Date), CAST(N'2022-10-12' AS Date), N'NV01      ')
INSERT [dbo].[DOTGIAMGIA] ([MADOT], [NOIDUNG], [NGAYBD], [NGAYKT], [MANV]) VALUES (N'GG03      ', N'Tuần lễ SamSung', CAST(N'2022-02-12' AS Date), CAST(N'2022-07-19' AS Date), N'NV01      ')
GO
SET IDENTITY_INSERT [dbo].[GIOHANG] ON 

INSERT [dbo].[GIOHANG] ([IDGIOHANG], [CMND]) VALUES (10, N'1010101010  ')
INSERT [dbo].[GIOHANG] ([IDGIOHANG], [CMND]) VALUES (1, N'1212121212  ')
INSERT [dbo].[GIOHANG] ([IDGIOHANG], [CMND]) VALUES (2, N'1313131313  ')
SET IDENTITY_INSERT [dbo].[GIOHANG] OFF
GO
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [ANH]) VALUES (N'APPLE     ', N'APPLE', N'https://cdn.tgdd.vn/Brand/1/logo-iphone-220x48.png')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [ANH]) VALUES (N'ASUS      ', N'ASUS', N'https://cdn2.cellphones.com.vn/x50,webp,q30/media/tmp/catalog/product/t/_/t_i_xu_ng_77_.png')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [ANH]) VALUES (N'NOKIA     ', N'NOKIA', N'https://cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg')
GO
INSERT [dbo].[KHACHHANG] ([CMND], [TENKH], [DIACHI], [NGAYSINH], [SDT], [EMAIL], [MATK]) VALUES (N'1010101010  ', N'Nguyễn Văn Thuận', N'Long An', NULL, N'1234567890', N'vanthuan@gmail.com', N'vanthuan            ')
INSERT [dbo].[KHACHHANG] ([CMND], [TENKH], [DIACHI], [NGAYSINH], [SDT], [EMAIL], [MATK]) VALUES (N'1212121212  ', N'Lê Phước Anh Đạt', N'Hồ Chí Minh', CAST(N'1999-12-12' AS Date), N'0123456789', N'nguyenvana@gmail.com', N'anhdat              ')
INSERT [dbo].[KHACHHANG] ([CMND], [TENKH], [DIACHI], [NGAYSINH], [SDT], [EMAIL], [MATK]) VALUES (N'1313131313  ', N'Trần Văn Cường', N'Đà Nẵng', CAST(N'1999-01-01' AS Date), N'1234567890', N'tranvancuong@gmail.com', N'vancuong            ')
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [ANH], [MOTA], [CHIP], [RAM], [ROM], [MAHDH], [PIN], [MANHINH], [MAHANG], [SOLUONGTON], [THOIGIANBH], [GIA], [RAMAT]) VALUES (N'ASRP5S    ', N'ASUS ROG Phone 5S 16GB 256GB', N'https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/a/s/asus-rog-phone-5_0002_gsmarena_001_3_1.jpg', N'', N'Qualcomm® Snapdragon® 888+ 5G Mobile Platform', 6, 4, N'Android 11', 6000, N'AMOLED 1080 x 2448 pixels (FullHD+)', N'ASUS      ', 50, 24, 20990000, CAST(N'2022-12-01' AS Date))
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [ANH], [MOTA], [CHIP], [RAM], [ROM], [MAHDH], [PIN], [MANHINH], [MAHANG], [SOLUONGTON], [THOIGIANBH], [GIA], [RAMAT]) VALUES (N'ASRP612G  ', N'ASUS ROG Phone 6 12GB 256GB', N'https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/b/g/bgf.png', N'', N'Qualcomm ® Snapdragon ® 8+ thế hệ 1', 5, 4, N'Android 12', 6000, N'1080 x 2448 pixels (FullHD+)', N'ASUS      ', 50, 18, 18990000, CAST(N'2022-08-01' AS Date))
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [ANH], [MOTA], [CHIP], [RAM], [ROM], [MAHDH], [PIN], [MANHINH], [MAHANG], [SOLUONGTON], [THOIGIANBH], [GIA], [RAMAT]) VALUES (N'IP11VN128 ', N'IPHONE 11 128G Chính hãng VN', N'https://cdn.tgdd.vn/Products/Images/42/153856/iphone-11-den-1-1-1-org.jpg', NULL, N'Apple A13 Bionic', 2, 3, N'IOS13', 3110, N'IPS LCD', N'APPLE     ', 91, 12, 16990000, CAST(N'2019-11-01' AS Date))
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [MATK]) VALUES (N'NV01      ', N'Lê Phước Anh Đạt', CAST(N'1999-12-12' AS Date), N'0123456789', N'lephuocanhdat@gmail.com', N'Quận 9', N'admin               ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [MATK]) VALUES (N'NV02      ', N'Nguyễn Thị A', CAST(N'1998-03-05' AS Date), N'1111111111', N'nguyenthia@gmail.com', N'Bình Thạnh', N'nguyenthia          ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [MATK]) VALUES (N'NV03      ', N'Trần Văn B', CAST(N'1997-02-02' AS Date), N'2222222222', N'tranvanb@gmail.com', N'Thủ Đức', N'tranvanb            ')
GO
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'AD        ', N'ROLE_ADMIN')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'KH        ', N'ROLE_USER')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'NV        ', N'ROLE_NV')
GO
INSERT [dbo].[RAM] ([MARAM], [DUNGLUONG]) VALUES (1, N'2 GB      ')
INSERT [dbo].[RAM] ([MARAM], [DUNGLUONG]) VALUES (2, N'4 GB      ')
INSERT [dbo].[RAM] ([MARAM], [DUNGLUONG]) VALUES (3, N'6 GB      ')
GO
INSERT [dbo].[ROM] ([MAROM], [DUNGLUONG]) VALUES (1, N'32 GB     ')
INSERT [dbo].[ROM] ([MAROM], [DUNGLUONG]) VALUES (2, N'64 GB     ')
INSERT [dbo].[ROM] ([MAROM], [DUNGLUONG]) VALUES (3, N'128 GB    ')
GO
INSERT [dbo].[TAIKHOAN] ([MATK], [PASSWORD], [MAQUYEN]) VALUES (N'aaaaaa              ', N'123456', N'KH        ')
INSERT [dbo].[TAIKHOAN] ([MATK], [PASSWORD], [MAQUYEN]) VALUES (N'admin               ', N'123456', N'AD        ')
INSERT [dbo].[TAIKHOAN] ([MATK], [PASSWORD], [MAQUYEN]) VALUES (N'anhdat              ', N'123456', N'KH        ')
GO
INSERT [dbo].[TRANGTHAI] ([MATRANGTHAI], [TRANGTHAI]) VALUES (1, N'Chờ duyệt')
INSERT [dbo].[TRANGTHAI] ([MATRANGTHAI], [TRANGTHAI]) VALUES (2, N'Đang giao')
INSERT [dbo].[TRANGTHAI] ([MATRANGTHAI], [TRANGTHAI]) VALUES (3, N'Đã giao')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_KHACHHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
ALTER TABLE [dbo].[GIOHANG] ADD  CONSTRAINT [Unique_KHACHHANG] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Unique_MAGIOHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [Unique_MAGIOHANG] UNIQUE NONCLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_TAIKHOAN]    Script Date: 20/09/2023 4:52:07 CH ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [Unique_TAIKHOAN] UNIQUE NONCLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TAIKHOANNV]    Script Date: 20/09/2023 4:52:07 CH ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [IX_TAIKHOANNV] UNIQUE NONCLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQUE_PHIEUTRA]    Script Date: 20/09/2023 4:52:07 CH ******/
ALTER TABLE [dbo].[PHIEUTRA] ADD  CONSTRAINT [UNIQUE_PHIEUTRA] UNIQUE NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DATHANG] ([MADDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DATHANG]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_DONHANG]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CTGIAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_CTGIAMGIA_DOTGIAMGIA] FOREIGN KEY([MADOT])
REFERENCES [dbo].[DOTGIAMGIA] ([MADOT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTGIAMGIA] CHECK CONSTRAINT [FK_CTGIAMGIA_DOTGIAMGIA]
GO
ALTER TABLE [dbo].[CTGIAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_CTGIAMGIA_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[CTGIAMGIA] CHECK CONSTRAINT [FK_CTGIAMGIA_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CTGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTGIOHANG_GIOHANG] FOREIGN KEY([IDGIOHANG])
REFERENCES [dbo].[GIOHANG] ([IDGIOHANG])
GO
ALTER TABLE [dbo].[CTGIOHANG] CHECK CONSTRAINT [FK_CTGIOHANG_GIOHANG]
GO
ALTER TABLE [dbo].[CTGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTGIOHANG_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[CTGIOHANG] CHECK CONSTRAINT [FK_CTGIOHANG_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CTNHANBH]  WITH CHECK ADD  CONSTRAINT [FK_CTNHANBH_NHANVIEN] FOREIGN KEY([MANVNHAN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTNHANBH] CHECK CONSTRAINT [FK_CTNHANBH_NHANVIEN]
GO
ALTER TABLE [dbo].[CTNHANBH]  WITH CHECK ADD  CONSTRAINT [FK_CTNHANBH_PHIEUBAOHANH] FOREIGN KEY([MASOBH])
REFERENCES [dbo].[PHIEUBAOHANH] ([MASOBH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTNHANBH] CHECK CONSTRAINT [FK_CTNHANBH_PHIEUBAOHANH]
GO
ALTER TABLE [dbo].[CTNHANBH]  WITH CHECK ADD  CONSTRAINT [FK_CTNHANBH_SANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[SANPHAM] ([SOSERI])
GO
ALTER TABLE [dbo].[CTNHANBH] CHECK CONSTRAINT [FK_CTNHANBH_SANPHAM]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CTPX]  WITH CHECK ADD  CONSTRAINT [FK_CTPX_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CUNGCAP_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CUNGCAP_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CUNGCAP_NHACC] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACC] ([MANHACC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CUNGCAP_NHACC]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_KHACHHANG] FOREIGN KEY([CMND])
REFERENCES [dbo].[KHACHHANG] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_BINHLUAN_KHACHHANG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_BINHLUAN_LOAISANPHAM]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_NHACC] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACC] ([MANHACC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_NHACC]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([CMND])
REFERENCES [dbo].[KHACHHANG] ([CMND])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MANVDUYET])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_TRANGTHAI] FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAI] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_TRANGTHAI]
GO
ALTER TABLE [dbo].[DOTGIAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOTGIAMGIA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DOTGIAMGIA] CHECK CONSTRAINT [FK_DOTGIAMGIA_NHANVIEN]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_KHACHHANG] FOREIGN KEY([CMND])
REFERENCES [dbo].[KHACHHANG] ([CMND])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DONHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAISANPHAM_HANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [FK_LOAISANPHAM_HANG]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAISANPHAM_RAM] FOREIGN KEY([RAM])
REFERENCES [dbo].[RAM] ([MARAM])
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [FK_LOAISANPHAM_RAM]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAISANPHAM_ROM] FOREIGN KEY([ROM])
REFERENCES [dbo].[ROM] ([MAROM])
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [FK_LOAISANPHAM_ROM]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_HOADON]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DATHANG] ([MADDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DATHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_HOADON]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRA_SANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[SANPHAM] ([SOSERI])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PHIEUTRA_SANPHAM]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FKdf0927pl4yalagwndwvnogay1] FOREIGN KEY([MANV])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FKdf0927pl4yalagwndwvnogay1]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FKka0t02xypg8qi7k78gjc95b0r] FOREIGN KEY([MAHD])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FKka0t02xypg8qi7k78gjc95b0r]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_HOADON]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_PHIEUNHAP]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[THAYDOIGIA]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIGIA_LOAISANPHAM1] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THAYDOIGIA] CHECK CONSTRAINT [FK_THAYDOIGIA_LOAISANPHAM1]
GO
ALTER TABLE [dbo].[THAYDOIGIA]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIGIA_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THAYDOIGIA] CHECK CONSTRAINT [FK_THAYDOIGIA_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[GETDOANHTHUTHEOTHANG]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GETDOANHTHUTHEOTHANG] @ngaybd DATE,@ngaykt DATE
AS
BEGIN
	SELECT FORMAT(dh.NGAYLAP, 'yyyy-MM') AS thang, SUM(dh.TONGTIEN) as tongtien
	FROM DONHANG dh
	WHERE dh.MATRANGTHAI = 3 and dh.NGAYLAP >= @ngaybd AND dh.NGAYLAP < @ngaykt
	GROUP BY FORMAT(dh.NGAYLAP, 'yyyy-MM')
	ORDER BY thang ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_KHUYEMMAI]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DS_KHUYEMMAI]
AS
SELECT TOP(8) GSP.TENLOAI, GSP.ANH, GSP.GIAMOI, GG.PHANTRAM
FROM ( SELECT LSP.MALOAI, LSP.TENLOAI,LSP.ANH, TDG.GIAMOI  FROM THAYDOIGIA TDG, LOAISANPHAM LSP 
		WHERE TDG.MALOAI = LSP.MALOAI) GSP, 
	( SELECT CTGG.MALOAI, CTGG.PHANTRAM FROM DOTGIAMGIA DDG, CTGIAMGIA CTGG 
		WHERE CTGG.MADOT = DDG.MADOT) GG
WHERE GSP.MALOAI = GG.MALOAI AND GG.PHANTRAM >= 40
GO
/****** Object:  StoredProcedure [dbo].[SP_DS_KHUYEMMAI1]    Script Date: 20/09/2023 4:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DS_KHUYEMMAI1]
AS
SELECT TOP(8) lsp.TENLOAI, dgg.NOIDUNG  ,gg.PHANTRAM
FROM LOAISANPHAM lsp, CTGIAMGIA gg, DOTGIAMGIA dgg
WHERE lsp.MALOAI = gg.MALOAI AND dgg.MADOT = gg.MADOT
GO
